<!DOCTYPE html>
<html lang="en-US" translate="no">

<head>
    <meta name="google" content="notranslate">
    <meta charset="UTF-8">
    <title>veemee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/all.css">
    <script type="text/javascript">
    if (location.hostname === "localhost" || location.hostname === "127.0.0.1") {
        console.log("hello localhost!")
    } else {
        if (location.protocol !== 'https:') {
            location.replace(`https:${location.href.substring(location.protocol.length)}`);
        }
    }
    </script>
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3WGXBSG9J7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3WGXBSG9J7');
</script>


<body>
    <div class="wrapper">
        <div class="headerConfines">
            <h1>veemee</h1>
        </div>
        <div class="allcontent">
            <div class="contentArea">
                <div class="contentBit">
                    <canvas class="waveformCanvas" id="canvasss" width="200" height="200"></canvas>
                    <br>
                    <div id="resArea" class="noShowOnLoad">
                        <div id="uploadingDiv">uploading<span id="loadingDots"></span></div>
                        <div id="successDiv">uploaded!
                            <br>
                            <br>
                            <button onclick="share()">send veemee</button>
                            <br><br>
                            <div id="afterShareMessage"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottombar">
                <div class="row">
                    <div class="column">&nbsp;</div>
                    <div class="columnCenter">
                        <button id="recordButton">record</button>
                        <button id="pauseButton" class="noShowOnLoad">pause</button>
                        <button id="newveemee" class="noShowOnLoad">new</button>
                    </div>
                    <div class="column">&nbsp;<button id="stopButton" class="noShowOnLoad">-></button>
                    </div>
                </div>
                <div class="timestampArea">
                    <div id="recordingtimestamp">- / -</div>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="/static/js/app.js"></script>
</body>

</html>