<!DOCTYPE html>
<html lang="en" translate="no">

<head>
    <meta name="google" content="notranslate">
    <meta charset="UTF-8">
    <title>veemee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/all.css">
</head>

<body>
    <div class="wrapper">
        <div class="headerConfines">
            <h1>veemee</h1>
        </div>
        <div class="allcontent">
            <div class="contentArea">
                <div class="contentBit">
                    <canvas class="waveformCanvas" id="canvasss" width="250" height="50"></canvas>
                    <br>
                    <div id="resArea" class="noShowOnLoad">
                        <div id="uploadingDiv">uploading...</div>
                        <div id="successDiv">uploaded!<br>share this link:
                            <br><br>
                            <a id="linkidDiv"></a>
                            <br><br>
                            <button onclick="share()">send veemee</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottombar">
                <div class="row">
                    <div class="column">&nbsp;</div>
                    <div class="column">&nbsp;<button id="recordButton">record</button>
                        <button id="pauseButton" class="noShowOnLoad">pause</button>
                    </div>
                    <div class="column">&nbsp;<button id="stopButton" class="noShowOnLoad">-></button>
                    </div>
                </div>
                <div class="timestampArea">
                    <div id="recordingtimestamp">- / -</div>
                </div>
            </div>
        </div>
        <div class="trailing">&nbsp;</div>
    </div>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="/static/js/app.js"></script>
</body>

</html>