<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>you have a vm!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pizzicato/0.6.4/Pizzicato.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/all.css">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TB56WFSX');</script>
<!-- End Google Tag Manager -->
</head>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TB56WFSX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3WGXBSG9J7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3WGXBSG9J7');
</script>

<body>
    <div class="wrapper">
        <div class="headerConfines">
            <h1>veemee</h1>
        </div>
        <div class="allcontent">
            <div class="contentArea">
                <div class="contentBit">
                    <div class="transcriptSection" id="transcriptSection"></div>
                </div>
            </div>
            <div class="bottombar">
                <div class="row">
                    <div class="column">&nbsp;
                        <button class="newvm" onclick="replyButton()">new</button>
                    </div>
                    <div class="column">&nbsp;
                    </div>
                    <div class="column">
                        <button id="playPauseButton">playpause</button>
                    </div>
                </div>
                <div class="timestampArea">
                    <span id="timestamp">2:30</span>
                </div>
            </div>
        </div>
        <div class="trailing">&nbsp;</div>
    </div>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="/static/js/view.js"></script>
</body>

</html>