<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>you have a vm!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pizzicato/0.6.4/Pizzicato.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/all.css">
</head>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-3WGXBSG9J7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3WGXBSG9J7');
</script>

<body>
    <div class="wrapper">
        <div class="headerConfines">
            <h1>veemee</h1>
        </div>
        <div class="allcontent">
            <div class="contentArea">
                <div class="contentBit">
                    <div class="transcriptSection" id="transcriptSection"></div>
                </div>
            </div>
            <div class="bottombar">
                <div class="row">
                    <div class="column">&nbsp;
                        <button class="newvm" onclick="replyButton()">new</button>
                    </div>
                    <div class="column">&nbsp;
                    </div>
                    <div class="column">
                        <button id="playPauseButton">playpause</button>
                    </div>
                </div>
                <div class="timestampArea">
                    <span id="timestamp">2:30</span>
                </div>
            </div>
        </div>
        <div class="trailing">&nbsp;</div>
    </div>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="/static/js/view.js"></script>
</body>

</html>